{% extends "base.html" %}
{% load static %}
{% block contents%}

<div style="background-color:whitesmoke;border-radius:5px">
    <div class="box-sering-dicari-header">
        <img src="{% static 'img/DILIHAT.png'%}" class="w-100 rounded"/>
    </div>
    <div class="position-absolute d-flex justify-content-evenly" style="margin-left:180px">
        <div class="box-sering-dicari">
            Hallo
        </div>
        <div class="box-sering-dicari">
            Hallo
        </div>
        <div class="box-sering-dicari">
            Hallo
        </div>
        <div class="box-sering-dicari">
            Hallo
        </div>
        <div class="box-sering-dicari">
            Hallo
        </div>
    </div>
</div>

{% endblock%}