{% extends "base.html" %}
{% load static %}
{% block contents%}

<div style="background-color:whitesmoke;border-radius:5px;margin-top:70px;margin-left:-20px;" >
    <div class="box-sering-dicari-header d-flex align-items-center">
        <img src="{% static 'img/DILIHAT.png'%}" class="w-100 rounded"/>
        <div class='position-absolute'>
            <div class="panah-kanan-jalan-uhui rounded-circle px-2  text-white fw-bold d-flex justify-content-center align-items-center bg-secondary h1" style="padding-bottom:5px;margin-left:170px">&rarr;</div>
            
        </div>
    </div>
    <div class="position-absolute d-flex justify-content-evenly" style="margin-left:230px" id="box_sering_dicari_5">
        
    </div>
</div>

<div style=" container-fluid background-color:whitesmoke;border-radius:5px;margin-top:50px;margin-bottom:170px" >
    <div class="p-2 box-bawah" style="width:1117px">
        <div class=" rounded text-start  fw-bold d-flex justify-content-between" style="background-color:rgba(0,0,0,0.6)">
            <span class="text-start fw-bold" style="margin-bottom:10px;margin-left:10px;font-size:20px">BEST DEAL BUDGET PRODUCT!</span>
            
        </div>
        <div class="row d-flex px-3 py-1" style="width:1120px;border-bottom:1px solid grey;margin-left:-7px">
            <div class="col-1 p-2" style="font-size:12px">Merk:</div> 
            <div class="col-2" >
                <select class="form-select border border-danger" id="filter_merek_budget" onchange="set_merek('budget')"  style="font-size:12px">
                    <option value="">-----</option>
                    {% for merek in mereknya %}
                    <option value="{{merek.merek_nama}}" style="width:20px;height:20px">{{merek.merek_nama}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-1 p-2" style="font-size:12px">Kategori:</div> 
            <div class="col-2" >
                <select class="form-select border border-danger" id="filter_kategori_budget" onchange="set_kategori_new('budget')"  style="font-size:12px">
                    <option value="">------</option>
                    {% for kategori in kategorinya %}
                    <option value="{{kategori.barang_kategori}}">{{kategori.barang_kategori}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-2 p-2" style="font-size:12px">Urutkan Harga:</div> 
            <div class="col-2" >
                <select class="form-select border border-danger" id="filter_harga_budget" onchange="set_harga('budget')"  style="font-size:12px">
                    <option value="">------</option>
                    <option value="murah">Ter-MURAH</option>
                    <option value="diskon">Ter-DISKON</option>
                    <option value="premium">Ter-PREMIUM</option>
                </select>
            </div>
            <div class="col-2">
                <button class="btn btn-outline-secondary form-control rounded-pill" onclick="tampilkan_barang_budget()" style="font-size:12px">Temukan!</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between" style="width:1117px">
        <div class=" panah-kiri" onclick="panah_kiri_budget()">&lt;</div>
        <div class="position-absolute d-flex justify-content-evenly" style="margin-top:300px" id="box_budget">
    
        </div>
        <div class=" panah-kanan " onclick="panah_kanan_budget()">&gt;</div>
    </div>
</div>

<div style=" container-fluid background-color:whitesmoke;border-radius:5px;margin-top:50px;;margin-bottom:170px" >
    <div class="p-2 box-bawah" style="width:1120px">
        <div class=" rounded text-start  fw-bold d-flex justify-content-between" style="background-color:rgba(255,255,0,1)">
            <span class="text-start fw-bold" style="margin-bottom:10px;margin-left:10px;font-size:20px">GREAT PREMIUM PRODUCT!</span>
            
        </div>
        <div class="row d-flex px-3 py-1" style="width:1120px;border-bottom:1px solid grey;margin-left:-7px">
            <div class="col-1 p-2" style="font-size:12px">Merk:</div> 
            <div class="col-2" >
                <select class="form-select border border-danger" id="filter_merek_premium" onchange="set_merek('premium')" style="font-size:12px">
                    <option value="">-----</option>
                    {% for merek in mereknya %}
                    <option value="{{merek.merek_nama}}">{{merek.merek_nama}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-1 p-2" style="font-size:12px">Kategori:</div> 
            <div class="col-2" >
                <select class="form-select  border border-danger" id="filter_kategori_premium" onchange="set_kategori_new('premium')" style="font-size:12px">
                    <option value="">------</option>
                    {% for kategori in kategorinya %}
                    <option value="{{kategori.barang_kategori}}">{{kategori.barang_kategori}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-2 p-2" style="font-size:12px">Urutkan Harga:</div> 
            <div class="col-2" >
                <select class="form-select border border-danger" id="filter_harga_premium" onchange="set_harga('premium')" style="font-size:12px">
                    <option value="">------</option>
                    <option value="murah">Ter-MURAH</option>
                    <option value="diskon">Ter-DISKON</option>
                    <option value="premium">Ter-PREMIUM</option>
                </select>
            </div>
            <div class="col-2">
                <button class="btn btn-outline-secondary form-control rounded-pill" onclick="tampilkan_barang_premium()" style="font-size:12px">Temukan!</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between"  style="width:1117px">
        <div class=" panah-kiri"  onclick="panah_kiri_premium()">&lt;</div>
        <div class="position-absolute d-flex justify-content-evenly" style="margin-top:300px" id="box_premium">
              
        </div>
        <div class=" panah-kanan "  onclick="panah_kanan_premium()">&gt;</div>
    </div>
</div>

<div style=" container-fluid background-color:whitesmoke;border-radius:5px;margin-top:50px;margin-bottom:170px" >
    <div class="p-2 box-bawah" style="width:1120px;">
        <div class=" rounded text-start  fw-bold d-flex justify-content-between" style="background-color:rgba(0,255,0,0.8)">
            <span class="text-start fw-bold" style="margin-bottom:10px;margin-left:10px;font-size:20px">GAJIAN SALE!</span>
            
        </div>
        <div class="row d-flex px-3 py-1" style="width:1120px;border-bottom:1px solid grey;margin-left:-7px">
            <div class="col-1 p-2" style="font-size:12px">Merk:</div> 
            <div class="col-2" >
                <select class="form-select border border-danger"  id="filter_merek_diskon" onchange="set_merek('diskon')" style="font-size:12px">
                    <option value="">-----</option>
                    {% for merek in mereknya %}
                    <option value="{{merek.merek_nama}}">{{merek.merek_nama}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="col-1 p-2" style="font-size:12px">Kategori:</div> 
            <div class="col-2" >
                <select class="form-select border border-danger"  id="filter_kategori_diskon" onchange="set_kategori_new('diskon')" style="font-size:12px">
                    <option value="">------</option>
                    {% for kategori in kategorinya %}
                    <option value="{{kategori.barang_kategori}}">{{kategori.barang_kategori}}</option>
                    {% endfor%}
                </select>
            </div>
            
            <div class="col-2">
                <button class="btn btn-outline-secondary form-control rounded-pill" onclick="tampilkan_barang_disc()" style="font-size:12px">Temukan!</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between"  style="width:1115px">
        <div class=" panah-kiri" onclick="panah_kiri_diskon()">&lt;</div>
        <div class="position-absolute d-flex justify-content-evenly" style="margin-top:300px" id="box_disc">

        </div>
        <div class=" panah-kanan " onclick="panah_kanan_diskon()">&gt;</div>
    </div>
    
</div>

<script>
    function ubahKeUang(data) {
        let x = data.toString();
        let lebar = x.length-1;
        let counter=1;
        let lebar2 = lebar;
        let uangku = "";
        while(lebar>-1) {
            uangku = x[lebar] + uangku;
            if(counter==3 && lebar!=0) {
                uangku = "." + uangku;
                counter=1;
            } else {
                counter++;
            }
            lebar-=1;
        }
        return "Rp. " + uangku + ",00";
    }
    $(document).ready(function() {
        isi_seringdicari();
    });

    function test() {
        alert("hohoho");
    }

    function new_produk() {
        freq_search();
        /* tampilkan hasil*/
        
        if($("#keyword").text().trim().length>0) {
            $("#hasil_pencarian").empty();
            $.ajax({
                type: "POST",
                url: '/api/get/search/',
                data : {
                    'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                    'keyword':  $("#keyword").text(),
                    'kategori': kategori
                },
                success : function (data) {
                    data.result.forEach(function (mydata){
                        tampilan = "<div id='cari_" + mydata.barang_sku +"' class='search-box-hasil d-flex justify-content-start align-items-center'>" +
                            "<img src='" + mydata.barang_foto1+"' style='margin-right:10px;width:50px;height:50px;border-radius:25px;margin-bottom:5px'>" +
                            "<div style='font-size:12px;font-weight:bold;'>" + mydata.barang_nama.toUpperCase() +"</div></div>";
                        $("#hasil_pencarian").append(tampilan);
                        $("#cari_" + mydata.barang_sku).click(function() {
                            $.ajax({
                                type: "POST",
                                url: '/api/get/search/hasil/',
                                data: {
                                    'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                                    'kode_sku':  mydata.barang_sku
                                },
                                success: function(data) {
                                    console.log("pencarian di klik " + data);
                                    isi_seringdicari();
                                }
                            });
                        });
                    });


                }
            });
        }
    }

    function set_harga(data) {
        console.log("harga " + data);
        if(data=="budget") {
            harga_budget=$("#filter_harga_budget").val();
        } else if(data=="premium") {
            harga_premium=$("#filter_harga_premium").val();
        }
    }

    function set_kategori_new(data) {
        console.log("kategori " + data);
        if(data=="budget") {
            kategori_budget = $("#filter_kategori_budget").val();
        } else if(data=="premium") {
            kategori_premium = $("#filter_kategori_premium").val();
        } else if(data=="diskon") {
            kategori_diskon = $("#filter_kategori_diskon").val();
        }
    }

    function set_merek(data) {
        console.log("merek " + data);
        if(data=="budget") {
            merek_budget = $("#filter_merek_budget").val();
        } else if(data=="premium") {
            merek_premium = $("#filter_merek_premium").val();
        } else if(data=="diskon") {
            merek_diskon = $("#filter_merek_diskon").val();
        }
    }

    function item_detail(data) {
        //detail barang
        $.ajax({
            type: 'POST',
            url: '/api/get/barang/satu/',
            data: {
                'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                'kode_barang':data
            },
            success: function(mydata) {
                console.log(mydata);
                console.log(typeof(mydata.result.barang_foto2));
                $("#Item_Detail_Gambar").empty();
                $("#Item_Detail_Header").text(mydata.result.barang_nama);
                let gambar = "";
                if (mydata.result.barang_foto1 !=null)
                {
                    gambar = "<img src='" + mydata.result.barang_foto1 +"' class='gambar-item-detail'>"
                    $("#Item_Detail_Gambar").append(gambar);
                }
                if (mydata.result.barang_foto2 !=null)
                {
                    gambar = "<img src='" + mydata.result.barang_foto2 +"' class='gambar-item-detail'>"
                    $("#Item_Detail_Gambar").append(gambar);
                }
                if (mydata.result.barang_foto3 !=null)
                {
                    gambar = "<img src='" + mydata.result.barang_foto3 +"' class='gambar-item-detail'>"
                    $("#Item_Detail_Gambar").append(gambar);
                }
                if (mydata.result.barang_foto4 !=null)
                {
                    gambar = "<img src='" + mydata.result.barang_foto4 +"' class='gambar-item-detail'>"
                    $("#Item_Detail_Gambar").append(gambar);
                }
                if (mydata.result.barang_foto5 !=null)
                {
                    gambar = "<img src='" + mydata.result.barang_foto5 +"' class='gambar-item-detail'>"
                    $("#Item_Detail_Gambar").append(gambar);
                }
                if (mydata.result.barang_foto6 !=null)
                {
                    gambar = "<img src='" + mydata.result.barang_foto6 +"' class='gambar-item-detail'>"
                    $("#Item_Detail_Gambar").append(gambar);
                }
                $("#modalDetailItem").modal('show');
            }
        });
    }

    function tampilkan_barang_budget() {
        $.ajax({
            type: "POST",
            url: '/api/get/barang/budget/',
            data : {
                'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                'merek': merek_budget,
                'kategori':kategori_budget,
                'harga':harga_budget,
                'halaman':halaman_budget,
            },
            success: function(data) {
                max_halaman_budget = data.max_page;
                $("#box_budget").empty();
                if(data.result.length>0) {
                    data.result.forEach(function(mydata) {
                        let template="";
                        let badgenya="";
                        if(mydata.barang_new==true) {
                            badgenya = badgenya + "<span style='font-size:12px' class='badge bg-danger'>NEW!</span>";
                        }
                        if(mydata.barang_ongkir_aktif==true) {
                            badgenya = badgenya + "<span style='font-size:12px;' class='badge bg-success'>Gratis Ongkir</span>";
                        }
                        discountnya = parseInt((mydata.barang_disc/mydata.barang_harga)*100);
                        if(mydata.barang_disc_aktif===false) {
                            discountnya=0;
                        }
                        if(discountnya==0) {
                            template = "<div id='item_b1_"+mydata.barang_sku+"'><div class='box-sering-dicari'><img class='w-100 rounded' src='"+ mydata.barang_foto1+"'</div>"+
                            "<div style='font-size:10px;font-weight:bold'>"+ mydata.barang_nama.toUpperCase().substring(0,40).toUpperCase() +"</div>"+
                            "<div style='font-size:12px;font-weight:bold;color:green'>Harga: "+ ubahKeUang(mydata.barang_harga)+"</div>"+ 
                            "<div style='font-size:12px;color:blue'>Merk: <strong>"+ mydata.barang_merek.merek_nama.toUpperCase()+"</strong></div>" +
                            "<div class='d-flex justify-content-between'>"+badgenya+"</div></div>";
                        } else {
                            let nettprice = mydata.barang_harga - mydata.barang_disc;
                            template = "<div id='item_b2_"+mydata.barang_sku+"'><div class='box-sering-dicari'><img class='w-100 rounded' src='"+ mydata.barang_foto1+"'</div>"+
                            "<div style='font-size:10px;font-weight:bold'>"+ mydata.barang_nama.toUpperCase().substring(0,40).toUpperCase() +"</div>"+
                            "<div style='font-size:12px;font-weight:bold;color:red'><s>Harga: "+ ubahKeUang(mydata.barang_harga)+"</s></div>"+ 
                            "<div><span class='badge bg-info fw-bold' style='font-size:12px'>Discount " + discountnya +"%</span></div>" +
                            "<div style='font-size:14px;font-weight:bold;color:green'>"+ ubahKeUang(nettprice)+"</div>"+ 
                            "<div style='font-size:12px;color:blue'>Merk: <strong>"+ mydata.barang_merek.merek_nama.toUpperCase()+"</strong></div>"+ 
                            "<div class='d-flex justify-content-between'>"+badgenya+"</div></div>";
                        }
                        $("#box_budget").append(template);
                        if(discountnya==0) {
                            $("#item_b1_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                            });
                        } else {
                            $("#item_b2_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                            });
                        }
                    });
                } else {
                    template="<div class='box-sering-dicari-tidak-ketemu text-center'>Ups.. maaf barang yang kamu cari belum ada...</div>";
                    $("#box_budget").append(template);
                }
            }
        });
    }

    function tampilkan_barang_premium() {
        $.ajax({
            type: "POST",
            url: '/api/get/barang/premium/',
            data : {
                'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                'merek': merek_premium,
                'kategori':kategori_premium,
                'harga':harga_premium,
                'halaman':halaman_premium,
            },
            success: function(data) {
                max_halaman_premium = data.max_page;
                $("#box_premium").empty();
                if(data.result.length>0) {
                    data.result.forEach(function(mydata) {
                        let template="";
                        let badgenya="";
                        if(mydata.barang_new==true) {
                            badgenya = badgenya + "<span style='font-size:12px' class='badge bg-danger'>NEW!</span>";
                        }
                        if(mydata.barang_ongkir_aktif==true) {
                            badgenya = badgenya + "<span style='font-size:12px;' class='badge bg-success'>Gratis Ongkir</span>";
                        }
                        discountnya = parseInt((mydata.barang_disc/mydata.barang_harga)*100);
                        if(mydata.barang_disc_aktif===false) {
                            discountnya=0;
                        }
                        if(discountnya==0) {
                            template = "<div id='item_p1_" + mydata.barang_sku+"'><div class='box-sering-dicari'><img class='w-100 rounded' src='"+ mydata.barang_foto1+"'</div>"+
                            "<div style='font-size:10px;font-weight:bold'>"+ mydata.barang_nama.toUpperCase().substring(0,40).toUpperCase() +"</div>"+
                            "<div style='font-size:12px;font-weight:bold;color:green'>Harga: "+ ubahKeUang(mydata.barang_harga)+"</div>"+ 
                            "<div style='font-size:12px;color:blue'>Merk: <strong>"+ mydata.barang_merek.merek_nama.toUpperCase()+"</strong></div>" +
                            "<div class='d-flex justify-content-between'>"+badgenya+"</div></div>";
                        } else {
                            let nettprice = mydata.barang_harga - mydata.barang_disc;
                            template = "<div id='item_p2_" + mydata.barang_sku+"'><div class='box-sering-dicari'><img class='w-100 rounded' src='"+ mydata.barang_foto1+"'</div>"+
                            "<div style='font-size:10px;font-weight:bold'>"+ mydata.barang_nama.toUpperCase().substring(0,40).toUpperCase() +"</div>"+
                            "<div style='font-size:12px;font-weight:bold;color:red'><s>Harga: "+ ubahKeUang(mydata.barang_harga)+"</s></div>"+ 
                            "<div><span class='badge bg-info fw-bold' style='font-size:12px'>Discount " + discountnya +"%</span></div>" +
                            "<div style='font-size:14px;font-weight:bold;color:green'>"+ ubahKeUang(nettprice)+"</div>"+ 
                            "<div style='font-size:12px;color:blue'>Merk: <strong>"+ mydata.barang_merek.merek_nama.toUpperCase()+"</strong></div>"+ 
                            "<div class='d-flex justify-content-between'>"+badgenya+"</div></div>";
                        }
                        $("#box_premium").append(template);
                        if(discountnya==0) {
                            $("#item_p1_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                            });
                        } else {
                            $("#item_p2_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                            });
                        }
                    });
                } else {
                    template="<div class='box-sering-dicari-tidak-ketemu text-center'>Ups.. maaf barang yang kamu cari belum ada...</div>";
                    $("#box_premium").append(template);
                }
            }
        });
    }

    function tampilkan_barang_disc() {
        $.ajax({
            type: "POST",
            url: '/api/get/barang/discount/',
            data : {
                'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                'merek': merek_diskon,
                'kategori':kategori_diskon,
                'halaman':halaman_diskon,
            },
            success: function(data) {
                max_halaman_diskon = data.max_page;
                $("#box_disc").empty();
                if(data.result.length>0) {
                    data.result.forEach(function(mydata) {
                        let template="";
                        let badgenya = "";
                        if(mydata.barang_new==true) {
                            badgenya = badgenya + "<span style='font-size:12px' class='badge bg-danger'>NEW!</span>";
                        }
                        if(mydata.barang_ongkir_aktif==true) {
                            badgenya = badgenya + "<span style='font-size:12px;' class='badge bg-success'>Gratis Ongkir</span>";
                        }

                        discountnya = parseInt((mydata.barang_disc/mydata.barang_harga)*100);
                        if(mydata.barang_disc_aktif===false) {
                            discountnya=0;
                        }
                        if(discountnya==0) {
                            template = "<div id='item_d1_" + mydata.barang_sku+"'><div class='box-sering-dicari'><img class='w-100 rounded' src='"+ mydata.barang_foto1+"'</div>"+
                            "<div style='font-size:10px;font-weight:bold'>"+ mydata.barang_nama.toUpperCase().substring(0,40).toUpperCase() +"</div>"+
                            "<div style='font-size:12px;font-weight:bold;color:green'>Harga: "+ ubahKeUang(mydata.barang_harga)+"</div>"+ 
                            "<div style='font-size:12px;color:blue'>Merk: <strong>"+ mydata.barang_merek.merek_nama.toUpperCase()+"</strong></div>" +
                            "<div class='d-flex justify-content-between'>"+badgenya+"</div></div>";
                        } else {
                            let nettprice = mydata.barang_harga - mydata.barang_disc;
                            template = "<div id='item_d2_" + mydata.barang_sku+"'><div class='box-sering-dicari'><img class='w-100 rounded' src='"+ mydata.barang_foto1+"'</div>"+
                            "<div style='font-size:10px;font-weight:bold'>"+ mydata.barang_nama.toUpperCase().substring(0,40).toUpperCase() +"</div>"+
                            "<div style='font-size:12px;font-weight:bold;color:red'><s>Harga: "+ ubahKeUang(mydata.barang_harga)+"</s></div>"+ 
                            "<div><span class='badge bg-info fw-bold' style='font-size:12px'>Discount " + discountnya +"%</span></div>" +
                            "<div style='font-size:14px;font-weight:bold;color:green'>"+ ubahKeUang(nettprice)+"</div>"+ 
                            "<div style='font-size:12px;color:blue'>Merk: <strong>"+ mydata.barang_merek.merek_nama.toUpperCase()+"</strong></div>"+ 
                            "<div class='d-flex justify-content-between'>"+badgenya+"</div></div>";
                        }
                        $("#box_disc").append(template);
                        if(discountnya==0) {
                            $("#item_d1_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                            });
                        } else {
                            $("#item_d2_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                            });
                        }
                    });
                } else {
                    template="<div class='box-sering-dicari-tidak-ketemu text-center'>Ups.. maaf barang yang kamu cari belum ada...</div>";
                    $("#box_disc").append(template);
                }
            }
        });
    }

    function panah_kanan_premium() {
        if(halaman_premium<max_halaman_premium) {
            halaman_premium +=1;
        } else {
            halaman_premium = 1;
        }
        tampilkan_barang_premium();
    }

    function panah_kiri_premium() {
        if(halaman_premium>1) {
            halaman_premium -=1;
        } else {
            halaman_premium = max_halaman_premium;
        }
        tampilkan_barang_premium();
    }

    function panah_kanan_budget() {
        if(halaman_budget<max_halaman_budget) {
            halaman_budget +=1;
        } else {
            halaman_budget = 1;
        }
        tampilkan_barang_budget();
    }

    function panah_kiri_budget() {
        if(halaman_budget>1) {
            halaman_budget -=1;
        } else {
            halaman_budget = max_halaman_budget;
        }
        tampilkan_barang_budget();
    }

    function panah_kanan_diskon() {
        if(halaman_diskon<max_halaman_diskon) {
            halaman_diskon +=1;
        } else {
            halaman_diskon = 1;
        }
        tampilkan_barang_disc();
    }

    function panah_kiri_diskon() {
        if(halaman_diskon>1) {
            halaman_diskon -=1;
        } else {
            halaman_diskon = max_halaman_diskon;
        }
        tampilkan_barang_disc();
    }
            
</script>

{% endblock%}