.garis:hover {
    transform: translateY(2px);
    transition-duration: 0.2s;
    cursor: pointer;
    border-top: 3px solid blue;
    border-bottom: 0px;
    color: blue;
}

.garis {
    border-bottom: 2px solid red;
    transition-duration: 0.2s;
    cursor: pointer;
}

.jagoan {
    cursor: grab;
}

body {
    background-color: white;
    font-size: 12px;
}

span {
    font-size: 12px;
    padding-top: 12px;
}

#info {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: lightblue;
}

a {
    font-size: 12px;
}

#search,
#search:active {
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0px;
    width: 80%;
}

.search-icon {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: grey;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.search-box {
    width: 400px;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    max-width: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid grey;
    box-shadow: 2px 2px solid grey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}

.category-box {
    width: 50%;
    max-width: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}

.shoppingcart-box {
    width: 30%;
    max-width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}

.wishlist-box {
    width: 30%;
    max-width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}


.notification-box {
    width: 30%;
    max-width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}

.account-box {
    width: 30%;
    max-width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
    margin-left: -200px;
}

.search-frequent {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    border: 1px solid grey;
    text-decoration: none;
    color: red
}

.footer {
    font-size: 12px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background-color: transparent;
    border-radius: 30px;
}

.wa-admin:hover {
    transition-duration: 0.5s;
    transform: scale(1.1, 1.1);
    background-color: lightgreen;

}

.sample:hover {
    transform: scale(2, 2);
    transition-duration: 1s;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;

}



@keyframes goyang-header-promo {
    from {
        transform: rotate(-30deg);
        transition-duration: 1s;
    }

    to {
        transform: rotate(30deg);
        transition-duration: 1s;
    }
}

.promo {
    animation-duration: 2s;
    animation-name: goyang-header-promo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.promo:hover,
.promo2:hover {
    cursor: pointer;
}

@keyframes perbesar {
    from {
        transform: scale(1, 1);
        transition-duration: 0.5s;
    }

    to {
        transform: scale(1.05, 1.05);
        transition-duration: 0.5s;
    }
}

.promo2 {
    animation-duration: 2s;
    animation-name: perbesar;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box-isi-kategori {
    width: 180px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    min-width: 180px;
    max-width: 180px;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    background-color: white;
    display: inline-flex;
}

.box-isi-kategori:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.5s;
    cursor: pointer;
}

.box-bingkai-kategori {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    justify-content: space-between;
    overflow: auto;

}