.garis:hover {
    transform: translateY(2px);
    transition-duration: 0.2s;
    cursor: pointer;
    border-top: 3px solid blue;
    border-bottom: 0px;
    color: blue;
}

.garis {
    border-bottom: 2px solid red;
    transition-duration: 0.2s;
    cursor: pointer;
    font-size: 15px;
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 15px;
}

.jagoan {
    cursor: grab;
}

body {
    background-color: white;
    font-size: 12px;
}

span {
    font-size: 12px;
    padding-top: 12px;
}

#info {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: lightblue;
}

a {
    font-size: 12px;
}

#search,
#search:active {
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0px;
    width: 80%;
}

.search-icon {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: grey;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.search-box {
    width: 400px;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    max-width: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid grey;
    box-shadow: 2px 2px solid grey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}

@keyframes panah-kiri-jalan {
    from {
        transform: translateX(-5px);
        transition-duration: 1s;
    }

    to {
        transform: translateX(0px);
        transition-duration: 1s;
    }
}

@keyframes panah-kanan-jalan {
    from {
        transform: translateX(5px);
        transition-duration: 1s;
    }

    to {
        transform: translateX(0px);
        transition-duration: 1s;
    }
}

.panah-kiri {
    font-size: 60px;
    font-weight: bold;
    margin-left: -50px;
    margin-top: 85px;
    color: white;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 30px;
    cursor: pointer;
    padding-bottom: 10px;
}

.panah-kanan {
    font-size: 60px;
    font-weight: bold;
    margin-right: -50px;
    margin-top: 85px;
    color: white;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 30px;
    cursor: pointer;
    padding-bottom: 10px;
}

.panah-kiri:hover {
    transform: translateX(-10px);
    transition-duration: 1s;
    cursor: pointer;
}

.panah-kanan:hover {
    transform: translateX(10px);
    transition-duration: 1s;
    cursor: pointer;
}

.search-box-hasil {
    width: 360px;
    margin-left: 10px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
    box-shadow: 2px 2px lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}


.category-box {
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}

.shoppingcart-box {
    width: 30%;
    max-width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}

.wishlist-box {
    width: 30%;
    max-width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}

.promo-box {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    height: 410px;
    min-height: 410px;
    max-height: 410px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}

.notification-box {
    width: 30%;
    max-width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
}

.account-box {
    width: 30%;
    max-width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid red;
    box-shadow: 2px 2px solid lightgrey;
    position: absolute;
    background-color: white;
    display: none;
    padding: 10px;
    cursor: pointer;
    margin-left: -200px;
}

.search-frequent {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    border: 1px solid grey;
    text-decoration: none;
    color: red
}

.footer {
    font-size: 12px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background-color: transparent;
    border-radius: 30px;
}

.wa-admin:hover {
    transition-duration: 0.5s;
    transform: scale(1.1, 1.1);
    background-color: lightgreen;

}

.sample:hover {
    transform: scale(2, 2);
    transition-duration: 1s;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;

}



@keyframes goyang-header-promo {
    from {
        transform: rotate(-30deg);
        transition-duration: 1s;
    }

    to {
        transform: rotate(30deg);
        transition-duration: 1s;
    }
}

.promo {
    animation-duration: 2s;
    animation-name: goyang-header-promo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box-sering-dicari:hover,
.promo:hover,
.promo2:hover {
    cursor: pointer;
}

@keyframes perbesar {
    from {
        transform: scale(1, 1);
        transition-duration: 0.5s;
    }

    to {
        transform: scale(1.05, 1.05);
        transition-duration: 0.5s;
    }
}

.promo2 {
    animation-duration: 2s;
    animation-name: perbesar;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box-isi-kategori {
    width: 180px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    min-width: 180px;
    max-width: 180px;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    background-color: white;
    display: inline-flex;
}

.box-bingkai-kategori {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    justify-content: space-between;
    overflow: auto;

}

.box-sering-dicari {
    width: 170px;
    min-width: 170px;
    max-width: 170px;
    height: 290px;
    min-height: 290px;
    max-height: 290px;
    border-radius: 10px;
    margin-top: -290px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px;
    border: 2px solid grey;
    background-color: white;
}

.box-sering-dicari:hover {
    transform: scale(1.05, 1.05);
    transition-duration: 0.5s;
    cursor: pointer;
    animation-name: kanan;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box-sering-dicari-header {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 290px;
    min-height: 290px;
    max-height: 290px;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 2px 2px grey;
    background-color: white;
}

.isi-box-sering-dicari-header {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    margin-left: 10px;
    margin-top: -80px;
    text-align: center;
    background-color: white;
    border: 1px solid grey;
    padding: 3px;
    border-radius: 10px;
    background-color: lightblue;
}

.gambar-box-sering-dicari-header {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    height: 180px;
    min-height: 180px;
    max-height: 180px;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
}





@keyframes bawah {
    from {
        transform: translateY(0px);
        transition-duration: 1s;
    }

    to {
        transform: translateY(5px);
        transition-duration: 1s;
    }
}

@keyframes bawah_voucher {
    from {
        transform: translateY(0px);
        transition-duration: 1s;
    }

    to {
        transform: translateY(10px);
        transition-duration: 1s;
    }
}


@keyframes atas_voucher {
    from {
        transform: translateY(10px);
        transition-duration: 1s;
    }

    to {
        transform: translateY(0px);
        transition-duration: 1s;
    }
}

@keyframes goyang {
    from {
        transform: rotate(5deg);
        transition-duration: 1s;
    }

    to {
        transform: rotate(-5deg);
        transition-duration: 1s;
    }
}

.gambar-voucher-goyang1 {
    animation-name: goyang;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    margin-left: 10px;
    margin-top: 50px;
}

.gambar-voucher-goyang2 {
    animation-name: goyang;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    margin-left: 10px;
    margin-top: 50px;
}

.gambar-voucher-goyang1:hover,
.gambar-voucher-goyang2:hover,
.gambar-voucher-bawah:hover {
    cursor: pointer;
}

.gambar-voucher-bawah {
    animation-name: bawah_voucher;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2.8s;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    margin-left: 10px;
    margin-top: 50px;
}

.gambar-voucher-atas {
    animation-name: atas_voucher;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    margin-left: 10px;
    margin-top: 50px;
}

.box-bawah {
    animation-duration: 2s;
    animation-name: bawah;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}