{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{% static 'js/jquery.3.6.4.js'%}"></script>
    <script src="{% static 'js/bootstrap5.bundle.min.js'%}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop #2</title>
    <link rel="stylesheet" href="{% static 'css/margin.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onscroll="cek_scroll()">

    <input type="hidden" id="stok_warna" value="">
    <input type="hidden" id="stok_visor" value="">
    <input type="hidden" id="kode_barang_detail" value="">
    <input type="hidden" id="id_cart" value="">
       
    {% csrf_token %}

    <div class="modal" tabindex="-1" id="modalDetailItem">
        <div class="modal-dialog">
          <div class="modal-content overflow-auto">
            <div class="modal-body">
                <div class="text-center" style="font-size:20px;margin-bottom:10px;font-weight:bold;padding-top:20px;" id="Item_Detail_Header"></div>
                <div class="d-flex w-100 justify-content-center " style="border-bottom:1px solid grey;border-top:1px solid grey;" id="Item_Detail_Gambar"></div>
                <div class="d-flex justify-content-between" style="margin-top:15px;margin-bottom:15px;">
                    <div><strong><u>Deskripsi Produk:</u></strong></div>
                    <div onclick="setWishList()" style="cursor:pointer">wishlist <span id="wishlist_heart" style="cursor:pointer;font-size:20px"><i class="fa fa-heart-o"></i></span></div>
                </div>
                <div style="height:150px" class="overflow-auto">
                    <div id="Item_Detail_Deskripsi"></div>
                </div>
                <div style="margin-top:20px;font-weight:bold;">
                    Variasi:
                </div>
                <div class="d-flex justify-content-center p-1 rounded border border-danger" style="margin-bottom:15px">
                    <div class="col-6 px-1">
                        <div class="row d-flex justify-content-center">
                            <div class="col-4 p-1 text-end fw-bold">Warna:</div>
                            <div class="col-8" id="Item_Detail_Warna"></div>
                        </div>
                    </div>
                    <div class="col-6 px-1">
                        <div class="row d-flex justify-content-center">
                            <div class="col-4 p-1 text-end fw-bold">Visor:</div>
                            <div class="col-8"  id="Item_Detail_Visor"></div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between" style="font-size:15px;margin-bottom:20px">
                    <div class="col-7 p-2">
                        Stok Tersedia: <span style="font-size:15px;font-weight:bold;" id="Item_Detail_Stok_nya">Silakan Pilih Varian!</span>
                    </div>
                    <div class="col-5">
                        <div class="row d-flex justify-content-between">
                            <div class="col-4 p-2">Jumlah:</div>
                            <div class="col-8"><input id="jumlah_beli" type="number" value=1 min=1 class="form-control border-outline-info"></input></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between container-fluid">
                    <div class="col-5">
                        <button class="btn btn-danger text-white fw-bold" style="font-size:12px"><i class="fa fa-youtube-play"></i> YouTube </button>  
                    </div>
                    <div class="col-7 d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary mx-1" style="font-size:12px !important;padding-top:0px !important" data-bs-dismiss="modal" ><span class="fa fa-user-circle "></span> Chat</button>
                        <button type="button" class="btn btn-success mx-1" style="font-size:12px !important;padding-top:0px !important" data-bs-dismiss="modal" onclick="addCart()"><span class="fa fa-shopping-cart "></span> Keranjang</button>
                        <button type="button" class="btn btn-primary mx-1" style="font-size:12px !important;padding-top:0px !important"><span class="fa fa-money "></span> Beli</button>
                    </div>
                </div>
            </div>
            
          </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalkategori">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
                <div class="text-center h3">KATEGORI</div>
                <div class=" box-bingkai-kategori" id="the_kategori">

                </div>
            </div>
          </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" id="modalpromo">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'img/17-1.jpeg'%}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'img/17-2.jpeg'%}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'img/17-3.jpeg'%}" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
          </div>
        </div>
    </div>

    
    <div class="container-fluid fixed-top bg-white shadow" id="the_header"  style="border-bottom-left-radius:10px;border-bottom-right-radius:10px;height:150px;width:1120px">
        <div class="p-2 border border-danger rounded m-2">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3 jagoan  d-flex align-items-center" title="jagoanhelm.com">
                    <div class="rounded-pill shadow"><img src="{% static 'img/jagoanhelm.png'%}" style="height:50px;weight:60px" alt=""></div>
                    <h3 class="text-danger fw-bold my-1 mx-2"> jagoanhelm.com</h3>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-8 col-xl-9 col-xxl-9">
                    <div class="d-flex justify-content-end">
                    <!--<div class="d-none d-sm-none d-md-none d-lg-flex d-xl-flex d-xxl-flex justify-content-evenly">-->
                        <div>
                            <div class="garis" onmouseover="show_shoppingcart()"><i class="fa fa-cart-arrow-down mx-2"></i>My Cart <span class="badge bg-danger" id="jumlah_cart"></span></div>                        
                            <div class="shoppingcart-box" onmouseleave="hide_shoppingcart()" id="detail_cart">
                                
                            </div>
                        </div>
                        <div>
                            <div class="garis" onmouseover="show_wishlist()"><i class="fa fa-heartbeat"></i> Wishlist <span class="badge bg-danger" id="jumlah_wishlist"></span></div>
                            <div class="wishlist-box" onmouseleave="hide_wishlist()" id="wishlist_menu">
 
                            </div>
                        </div>

                        <div>
                            <div class="garis" onmouseover="show_notification()"><i class="fa fa-bell-o"></i> Notification</div>
                            <div class="notification-box" onmouseleave="hide_notification()">
                                <div><strong>My Notification1</strong></div>
                                <div>{% lorem 1 %}</div>
                                <div><strong>My Notification2</strong></div>
                                <div>{% lorem 1 %}</div>
                            </div>
                        </div>
                        <div >
                            <div class=" garis" onmouseover="show_category()" ><i class="fa fa-users"></i> My Discuss</div>
                            <div class="category-box " onmouseleave="hide_category()">
                                hallo
                            </div>
                        </div>
                        <div >
                            <div class="garis" onmouseover="show_promo_menu()"><i class="fa fa-handshake-o"></i> PROMO </div>
                            <div class="promo-box" onmouseleave="hide_promo_menu()">
                                <div class="d-block w-100  my-3 border border-success p-2">
                                    <div class="d-flex row justify-content-center">
                                        <div class="col-2 text-center bg-success p-2"><i class="fa fa-paper-plane-o bg-success " style="font-size:30px;color:white;font-weight:bold" aria-hidden="true"></i></div>
                                        <div class="col-10 bg-success">
                                            <div style="font-size:15px;color:white;text-align:center;padding-top:10px;font-weight:bold;">VOUCHER GRATIS ONGKIR</div>
                                        </div>
                                    </div>
                                    <div class="text-center my-1" ><button class="btn" >Klik untuk Klaim Sekarang!</button></div>
                                </div>
                                <div class="d-block w-100  my-3 border border-danger p-2" >
                                    <div class="d-flex row justify-content-center">
                                        <div class="col-2 text-center bg-danger p-2"><i class="fa fa-money bg-danger " style="font-size:30px;color:white;font-weight:bold" aria-hidden="true"></i></div>
                                        <div class="col-10 bg-danger">
                                            <div style="font-size:15px;color:white;text-align:center;padding-top:10px;font-weight:bold;">VOUCHER DISCOUNT %</div>
                                        </div>
                                    </div>
                                    <div class="text-center my-1" ><button class="btn" >Klik untuk Klaim Sekarang!</button></div>
                                </div>
                                <div class="d-block w-100 my-3 border border-warning p-2">
                                    <div class="d-flex row justify-content-center">
                                        <div class="col-2 text-center bg-warning p-2"><i class="fa fa-thumbs-o-up bg-warning " style="font-size:30px;color:white;font-weight:bold" aria-hidden="true"></i></div>
                                        <div class="col-10 bg-warning">
                                            <div style="font-size:15px;color:white;text-align:center;padding-top:10px;font-weight:bold;">PROMO BULAN INI!</div>
                                        </div>
                                    </div>
                                    <div class="text-center my-1" ><button class="btn" onclick="show_promo()">Klik untuk Melihat Detail Promo!</button></div>
                                </div>
                            </div>
                        </div>
                        <div >
                            <div class="garis" onmouseover="show_account()"><i class="fa fa-user-circle"></i> Account</div>
                            <div class="account-box" onmouseleave="hide_account()">
                                <div><strong>My Account Info1</strong></div>
                                <div>{% lorem 1 %}</div>
                                <div><strong>My Account Info2</strong></div>
                                <div>{% lorem 1 %}</div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="d-flex d-sm-flex d-md-flex d-lg-none d-xl-none d-xxl-none justify-content-end">
                        <button type="button" class="btn btn-default btn-lg">
                            <i class="fa fa-navicon my-1 text-danger fw-bold"></i>
                        </button>
                    </div>
                    -->
                </div>
            </div>
           
            
        </div>
        
        <div class="row px-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div class="row ">
                    <div class="col-6">
                        <i class="fa fa-search search-icon"></i><input type="text" id="search" placeholder="search..." autocomplete="on" onkeyup="searchkeyword()" onmouseover="tampilsearch()" onchange="searchkeyword()" onfocusin="tampilsearch()">
                        <div class="search-box" onmouseleave="hide_search()">
                            <div>Pencarian: "<span id="keyword" class="fw-bold"></span>"
                                <div class="spinner-border text-secondary" style="width:10px;height:10px" role="status">
                                    <span class="visually-hidden" >Loading...</span>
                                </div>
                                <div id="hasil_pencarian" class="overflow-y-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-evenly" id="usual_search">
                    </div>
                </div>
            </div>
            <div class="col-4 d-none d-sm-none d-md-none d-lg-flex d-xl-flex d-xxl-flex">
                <div class="text-center w-100" id="info">jagoanhelm.com pusatnya helm!</div>
            </div>
        </div>
        <div class="my-2"></div>
    </div>

    <div class="container" onscroll="myFunction()" style="margin-bottom:50px;margin-left:70px;margin-top:190px;">
        {% block contents%}{% endblock%}
    </div>
    <div class="container" style="margin-bottom:50px">
        <div class="d-flex row justify-content-center">
            <div class="col-4 p-2" style="border-right:1px solid grey;">
                <strong>Our Store:</strong><br>
                Ruko Arcadia Blok BD No. 120<br>
                Jl. Pulo Sirih Utama, RT.004/RW.015<br>
                Jaka Setia, Bekasi Selatan, Kota Bekasi<br>
                Jawa Barat 17148<br><br>
                <iframe class="w-100" style="height:200px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0085656979195!2d106.97028017380322!3d-6.262600993725997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698db00b8eacf9%3A0x7ee3fad755f1e152!2sJagoan%20Helm!5e0!3m2!1sid!2sid!4v1693393950234!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-8 ">
                <iframe width="560" class="rounded border" height="315" src="https://www.youtube.com/embed/11VXUfYR4oo?si=mA1DqPtvKSBNBPCm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    
    </div>
    <div class="fixed-bottom container-fluid">
        <div class="row">
            <div class="d-flex col-10 justify-content-end ">
            
            </div>
            <div class="py-3 col-2 my-3">
                <div class="text-white text-center fw-bold bg-success rounded-pill py-2 my-2 wa-admin" style="cursor:pointer;width:200px">
                    <i class="fa fa-whatsapp mx-1 " aria-hidden="true"></i>Chat Admin#1
                </div>
                <div class="text-white text-center fw-bold bg-success rounded-pill py-2 my-2 wa-admin"  style="cursor:pointer;width:200px">
                    <i class="fa fa-whatsapp mx-1 " aria-hidden="true"></i>Chat Admin#2
                </div>
            </div>
        </div>

    </div>
    <div class="footer container fixed-bottom w-50 " id="the_footer">
        <div class="d-flex justify-content-center">
            <div class="rounded-pill shadow"><img src="{% static 'img/jagoanhelm.png'%}" style="height:50px;weight:60px" alt=""></div>
            <h3 class="text-danger fw-bold my-1 mx-2"> jagoanhelm.com</h3>
        </div>
    </div>
    
    <script>
        let csrfmiddlewaretokennya = $("input[name=csrfmiddlewaretoken]").val();
        let last_position=0;
        let kategori="semua";

        let kategori_budget="";
        let kategori_premium="";
        let kategori_diskon="";
        let merek_budget="";
        let merek_premium="";
        let merek_diskon="";
        let harga_budget="";
        let harga_premium="";

        let halaman_budget=1;
        let halaman_premium =1;
        let halaman_diskon=1;
        let max_halaman_budget=1;
        let max_halaman_premium=1;
        let max_halaman_diskon=1;

        let stok_warna =0;
        let stok_visor =0;

        function set_kategori_page(kategori) {
            window.location.href = "/?cat=" + kategori;
        }

        $(document).ready(function() {
            let infonya =[];
            let i=0;
            infonya.push("Segera Klaim Voucher Gratis Ongkirmu!");
            infonya.push("Happy Birthday ya! Ada yang spesial untukmu hari ini!");
            infonya.push("Ada aksesoris baru loh... segera chek ya kaka...");
            setInterval(function() {
                $("#info").text(infonya[i]);
                i++;
                if(i>3) {
                    i=0;
                }
            },5000);
            /*searchkeyword();*/
            freq_search();
            tampilkan_barang_budget();
            tampilkan_barang_premium();
            tampilkan_barang_disc();
            updateCart();
            initWishList();
        });

        function cek_scroll() {
            if($(window).scrollTop()>last_position) {
                $("#the_header").slideUp("fast");
                $("#the_footer").slideDown("slow");
            } else {
                $("#the_header").slideDown("slow");
                $("#the_footer").slideUp("fast");
            }
            last_position=$(window).scrollTop();
        }
        

        function tampilsearch() {
            $(".search-box").slideDown("slow");
        }

        function hide_search() {
            $(".search-box").slideUp("slow");
            
        }

        function isi_seringdicari() {
            $.ajax({
                type: "POST",
                url: 'api/get/barang/cari5/',
                data: {
                    'csrfmiddlewaretoken': csrfmiddlewaretokennya
                },
                success: function(data) {
                    $("#box_sering_dicari_5").empty();
                    data.result.forEach(function(mydata){
                        let template="";
                        let badgenya = "";
                        if(mydata.barang_new==true) {
                            badgenya = badgenya + "<span style='font-size:12px' class='badge bg-danger'>NEW!</span>";
                        }
                        if(mydata.barang_ongkir_aktif==true) {
                            badgenya = badgenya + "<span style='font-size:12px;' class='badge bg-success'>Gratis Ongkir</span>";
                        }
                        discountnya = parseInt((mydata.barang_disc/mydata.barang_harga)*100);
                        if(mydata.barang_disc_aktif===false) {
                            discountnya=0;
                        }
                        if(discountnya==0 ) {
                            template = "<div id='item_c1_" + mydata.barang_sku+"'><div class='box-sering-dicari'><img class='w-100 rounded' src='"+ mydata.barang_foto1+"'</div>"+
                            "<div style='font-size:10px;font-weight:bold'>"+ mydata.barang_nama.substring(0,40).toUpperCase() +"</div>"+
                            "<div style='font-size:12px;font-weight:bold;color:green'>Harga: "+ ubahKeUang(mydata.barang_harga)+"</div>"+ 
                            "<div style='font-size:12px;color:blue'>Merk: <strong>"+ mydata.barang_merek.merek_nama.toUpperCase()+"</strong></div>" +
                            "<div class='d-flex justify-content-between'>"+badgenya+"</div></div>";
                        } else {
                            let nettprice = mydata.barang_harga - mydata.barang_disc;
                            template = "<div id='item_c2_" + mydata.barang_sku+"'><div class='box-sering-dicari'><img class='w-100 rounded' src='"+ mydata.barang_foto1+"'</div>"+
                            "<div style='font-size:10px;font-weight:bold'>"+ mydata.barang_nama.substring(0,40).toUpperCase() +"</div>"+
                            "<div style='font-size:12px;font-weight:bold;color:red'><s>Harga: "+ ubahKeUang(mydata.barang_harga)+"</s></div>"+ 
                            "<div><span class='badge bg-info fw-bold' style='font-size:12px'>Discount " + discountnya +"%</span></div>" +
                            "<div style='font-size:14px;font-weight:bold;color:green'>"+ ubahKeUang(nettprice)+"</div>"+ 
                            "<div style='font-size:12px;color:blue'>Merk: <strong>"+ mydata.barang_merek.merek_nama.toUpperCase()+"</strong></div>"+ 
                            "<div class='d-flex justify-content-between'>"+badgenya+"</div></div>";
                        }
                        $("#box_sering_dicari_5").append(template);
                        if(discountnya==0) {
                            $("#item_c1_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                            });
                        } else {
                            $("#item_c2_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                            });
                        }
                    })
                }
            });
        }

        function freq_search() {
            $("#keyword").text($("#search").val());

            /* set frequently keyword */
            $.ajax({
                type: "POST",
                url: '/api/set/search/',
                data: {
                    'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                    'keyword':$("#search").val(),
                    'kategori':kategori,
                },
                success: function(data) {
                    $("#usual_search").empty();
                    data.keyword.forEach(function(info) {
                        htmlnya = "<a href='#' id='keyword_"+ info.keyword +"' class='search-frequent'>"+ info.keyword+"</a>";
                        $("#usual_search").append(htmlnya);
                        $("#keyword_" + info.keyword).click(function() {
                            $("#search").val(info.keyword);
                            tampilsearch();
                            searchkeyword();
                        });
                    });
                }
            });
        }

        function set_kategori() {
            $("#kat_premium").text(kategori.toUpperCase());
            $("#kat_gajian").text(kategori.toUpperCase());
            $("#kat_budget").text(kategori.toUpperCase());
        }

        function searchkeyword() {

            freq_search();
            /* tampilkan hasil*/
            
            if($("#keyword").text().trim().length>0) {
                $("#hasil_pencarian").empty();
                $.ajax({
                    type: "POST",
                    url: '/api/get/search/',
                    data : {
                        'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                        'keyword':  $("#keyword").text(),
                        'kategori': kategori
                    },
                    success : function (data) {
                        data.result.forEach(function (mydata){
                            tampilan = "<div id='cari_" + mydata.barang_sku +"' class='search-box-hasil d-flex justify-content-start align-items-center'>" +
                                "<img src='" + mydata.barang_foto1+"' style='margin-right:10px;width:50px;height:50px;border-radius:25px;margin-bottom:5px'>" +
                                "<div style='font-size:12px;font-weight:bold;'>" + mydata.barang_nama.toUpperCase() +"</div></div>";
                            $("#hasil_pencarian").append(tampilan);
                            $("#cari_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                                $.ajax({
                                    type: "POST",
                                    url: '/api/get/search/hasil/',
                                    data: {
                                        'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                                        'kode_sku':  mydata.barang_sku
                                    },
                                    success: function(data) {
                                        isi_seringdicari();
                                        
                                    }
                                });
                            });
                        });
    
    
                    }
                });
            }

        }

        function show_category() {
            $(".category-box").empty();
            let hasil = "<div title='Tampilkan Semua Barang' class='box-isi-kategori' id='kat_com_semua'><img src='/static/img/all.jpeg' class='w-100 rounded' style='width:150px;height:150px'><div class='position-absolute d-flex justify-content-center  p-1 bg-secondary rounded fw-bold text-white' style='width:170px'>Semua Kategori</div></div>";
            $(".category-box").append(hasil);
            $("#kat_com_semua").click(function() {
                kategori="semua";
            });
            $.ajax({
                type: "POST",
                url: "/api/get/kategori/",
                data: {
                    'csrfmiddlewaretoken':csrfmiddlewaretokennya
                },
                success: function(data) {
                    data.forEach(function(mydata) {
                        hasil = "<div title='"+ mydata.barang_kategori +"'' class='box-isi-kategori' id='kat_comp_" + mydata.barang_kategori +"'><img src='" + mydata.barang_kategori_gambar +"' class='w-100 rounded' style='width:150px;height:150px'><div class='position-absolute d-flex justify-content-center  p-1 bg-secondary rounded fw-bold text-white' style='width:170px'>" + mydata.barang_kategori+"</div></div>";
                        $(".category-box").append(hasil);
                        $("#kat_comp_" + mydata.barang_kategori).click(function() {
                            kategori=mydata.barang_kategori;
                            set_kategori();
                        });
                    });
                }
            });
            $(".category-box").slideToggle("fast");
            $(".shoppingcart-box").slideUp();
            $(".wishlist-box").slideUp();
            $(".notification-box").slideUp();
            $(".account-box").slideUp();
            $(".promo-box").slideUp();
        }

        function show_shoppingcart() {
            $(".shoppingcart-box").slideToggle("fast");
            
            $(".wishlist-box").slideUp();
            $(".notification-box").slideUp();
            $(".account-box").slideUp();
            $(".category-box").slideUp();
            $(".promo-box").slideUp();
        }

        function show_promo_menu() {
            /*
            $(".account-box").slideUp();
            $(".category-box").slideUp();
            $(".shoppingcart-box").slideUp();
            $(".wishlist-box").slideUp();
            $(".notification-box").slideUp();*/
            $(".promo-box").slideToggle("fast");
        }

        function hide_shoppingcart() {
            $(".shoppingcart-box").slideUp("fast");
        }

        function hide_promo_menu() {
            $(".promo-box").slideUp("fast");
        }

        function hide_category() {
            $(".category-box").slideUp("fast");
        }

        function show_wishlist() {
            $(".wishlist-box").slideToggle("fast");
            $(".category-box").slideUp();
            $(".shoppingcart-box").slideUp();
            $(".notification-box").slideUp();
            $(".account-box").slideUp();
            $(".promo-box").slideUp();
        }

        function hide_wishlist() {
            $(".wishlist-box").slideUp("fast");
        }

        function show_notification() {
            $(".notification-box").slideToggle("fast");
            $(".category-box").slideUp();
            $(".shoppingcart-box").slideUp();
            $(".wishlist-box").slideUp();
            $(".account-box").slideUp();
            $(".promo-box").slideUp();
        }

        function hide_notification() {
            $(".notification-box").slideUp("fast");
        }

    

        function show_account() {
            $(".account-box").slideToggle("fast");
            $(".category-box").slideUp();
            $(".shoppingcart-box").slideUp();
            $(".wishlist-box").slideUp();
            $(".notification-box").slideUp();
            $(".promo-box").slideUp();
        }

        function hide_account() {
            $(".account-box").slideUp("fast");
        }

        
        function show_promo() {
            $("#modalpromo").modal("show");
        }

        function modal_kategori_show() {
            $("#the_kategori").empty();
            let hasil = "<div title='Tampilkan Semua Barang' class='box-isi-kategori' id='kat_semua'><img src='/static/img/all.jpeg' class='w-100 rounded' style='width:150px;height:150px'><div class='position-absolute d-flex justify-content-center  p-1 bg-secondary rounded fw-bold text-white' style='width:170px'>Semua Kategori</div></div>";
            $("#the_kategori").append(hasil);
            $("#kat_semua").click(function() {
                set_kategori_page('');
            });
            $.ajax({
                type: "POST",
                url: "/api/get/kategori/",
                data: {
                    'csrfmiddlewaretoken':csrfmiddlewaretokennya
                },
                success: function(data) {
                    data.forEach(function(mydata) {
                        hasil = "<div title='"+ mydata.barang_kategori +"'' class='box-isi-kategori' id='kat_" + mydata.barang_kategori +"'><img src='" + mydata.barang_kategori_gambar +"' class='w-100 rounded' style='width:150px;height:150px'><div class='position-absolute d-flex justify-content-center  p-1 bg-secondary rounded fw-bold text-white' style='width:170px'>" + mydata.barang_kategori+"</div></div>";
                        $("#the_kategori").append(hasil);
                        $("#kat_" + mydata.barang_kategori).click(function() {
                            set_kategori_page(mydata.barang_kategori);
                        });
                    });
                }
            });
            $("#modalkategori").modal("show");
        }

        

    </script>
</body>

</html>