{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{% static 'js/jquery.3.6.4.js'%}"></script>
    <script src="{% static 'js/bootstrap5.bundle.min.js'%}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop #2</title>
    <link rel="stylesheet" href="{% static 'css/margin.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onscroll="cek_scroll()">

    <input type="hidden" id="stok_warna" value="">
    <input type="hidden" id="stok_visor" value="">
    <input type="hidden" id="kode_barang_detail" value="">
    <input type="hidden" id="id_cart" value="">
    <input type="hidden" id="harga_nett_detail">
       
    {% csrf_token %}

    <div class="modal" tabindex="-1" id="modalUserRegister">
        <div class="modal-dialog">
          <div class="modal-content border border-success">
            <div class="modal-header bg-success">
              <h5 class="modal-title w-100 py-1 px-2 bg-success text-white fw-bold"><i class="fa fa-user"></i> Registrasi JagoanHelm.com</strong></h5>
              <button type="button" class="btn-close border border-success bg-white" style="padding:10px;border-radius:0px" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center my-2 p-2" style="border-bottom:1px solid lightgrey">
                    <div class="col-2">Email:</div>
                    <div class="col-6 mx-2"><input class="form-control" type="email" placeholder="Email Kamu" id="email_register"></div>
                    <div class="col-3"><button onclick="createEmail()" class="btn btn-outline-success fw-bold"  id="button_register">kirim OTP</button></div>
                </div>
                <div id="konfirmasi2_register" class="invisible">
                    <div class="d-flex justify-content-center align-items-center" >
                        <div class="col-5">Kode Konfirmasi Email:</div>
                        <div class="col-4 mx-1"><input type="text" class="form-control" id="kode_konfirmasi" placeholder="kode konfirmasi"></div>
                        <div class="col-2"><button class="btn btn-primary" id="button_register_cek" onclick="cekKode()">Cek</button></div>
                    </div>
                </div>
                <div id="konfirmasi2_password" class="invisible p-2 border border-secondary rounded">
                    <div class="d-flex justify-content-center align-items-center" >
                        <div class="col-6">
                            Username:
                        </div>
                        <div class="col-6">
                            <input type="text" id="register_username" onkeyup="cek_password()" placeholder="username, min.6 karakter" class="form-control">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" >
                        <div class="col-6">
                            Password:
                        </div>
                        <div class="col-6">
                            <input type="password" id="register_pass1" onkeyup="cek_password()" placeholder="password, min.6 karakter" class="form-control">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" >
                        <div class="col-6">
                            Konfirmasi Password:
                        </div>
                        <div class="col-6">
                            <input type="password" id="register_pass2" onkeyup="cek_password()" placeholder="password, min.6 karakter" class="form-control">
                        </div>
                    </div>    
                    <div style="font-size:12px" id="hasil_cek_password" id="info_password">

                    </div>
                </div>

                
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-secondary"  onclick="submit_new_user()" disabled id="button_register_kan"><i class="fa fa-user"></i> Register</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalCheckout">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-success">
              <h5 class="modal-title text-white fw-bold"><i class='fa fa-cart-arrow-down'></i> Keranjang Belanjamu - <span style="font-size:15px;font-weight:bold" id="checkout_jumlah"></span> item</h5>
              <button type="button" class="btn-close bg-white border border-success text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="border border-secondary rounded p-3"> 
                        <div style="height: 200px" class="overflow-auto " >
                            <div id="checkout_list"></div>
                        </div>
                </div>
                <div id='bayar_detail' class='d-none' >
                    <div style="font-size:16px">Kamu Hanya Bayar: <span class='text-danger fw-bold' style="font-size:16px" id="bayar_total_pembayaran"></span></div>
                    <div style="font-size:15px">Total Belanjamu: <span class=' fw-bold'  style="font-size:15px" id="bayar_total_belanja"></span> (<span id="bayar_jumlah_barang" style='font-size:15px; font-weight:bold'></span> item)</div>    
                    <div style="font-size:15px"><strong>Wow!</strong> Kamu Hemat: <span  class='text-success fw-bold' id="bayar_total_hemat"  style="font-size:15px"></span></div>
                    <div class="d-flex justify-content-between w-100 p-1 rounded border border-info">
                        <div  style="font-size:13px;font-weight:bold" class="py-2 col-5" >Voucher Gratis Ongkirmu: </div>
                        <div class="col-7" style="font-size:15px" id='voucher_gratis_ongkirmu'></div>
                    </div>
                    <div class="d-flex justify-content-between w-100 p-1 my-1 rounded border border-warning">
                        <div style="font-size:15px;font-weight:bold" class="py-2  col-5" >Alamat Kirim: </div>
                        <div class="col-7" style="font-size:15px" id='alamat_kirim'></div>
                    </div>
                </div>
                <div id="bayar_detail_kosong" class="d-none">
                    <div style="font-size:16px">Barang dikeranjang belum kamu pilih...</div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
              <button type="button" id="bayar_detail_button" class="btn btn-success" data-bs-dismiss="modal" onclick="proses_bayar()"><i class="fa fa-money"></i> Proses Pembayaran</button>
            </div>
          </div>
        </div>
      </div>

    <div class="modal" tabindex="-1" id="modalDetailItem">
        <div class="modal-dialog">
          <div class="modal-content overflow-auto">
            <div class="modal-header bg-danger ">
                <span class="modal-title" id="Item_Detail_Header" style="font-size:15px;font-weight:bold;color:white"></span>
                <button type="button" class="btn-close border border-danger bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex w-100 justify-content-center " style="border-bottom:1px solid grey;border-top:1px solid grey;" id="Item_Detail_Gambar"></div>
                <div class="d-flex justify-content-between" style="margin-top:15px;margin-bottom:15px;">
                    <div><strong><u>Deskripsi Produk:</u></strong></div>
                    {% if user.is_authenticated%}
                    <div onclick="setWishList()" style="cursor:pointer">wishlist <span id="wishlist_heart" style="cursor:pointer;font-size:20px"><i class="fa fa-heart-o"></i></span></div>
                    {% else %}
                    <div></div>
                    {% endif%}
                </div>
                <div style="height:100px" class="overflow-auto p-2 border rounded border-secondary">
                    <div id="Item_Detail_Deskripsi"></div>
                </div>
                <div style="margin-top:20px;font-weight:bold;">
                    Variasi:
                </div>
                <div class="d-flex justify-content-center p-1 rounded border border-danger" style="margin-bottom:15px">
                    <div class="col-6 px-1">
                        <div class="row d-flex justify-content-center">
                            <div class="col-4 p-1 text-end fw-bold">Warna:</div>
                            <div class="col-8" id="Item_Detail_Warna"></div>
                        </div>
                    </div>
                    <div class="col-6 px-1">
                        <div class="row d-flex justify-content-center">
                            <div class="col-4 p-1 text-end fw-bold">Visor:</div>
                            <div class="col-8"  id="Item_Detail_Visor"></div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex container justify-content-between p-2 border border-secondary rounded" style="font-size:15px;margin-left:1px;margin-bottom:20px">
                    <div class="col-4 p-2" style="font-size:15px">
                        <div class="text-center fw-bold "><u>Harga:</u></div>
                        <div><strong><span id='Item_Detail_Harga' style="font-size:13px;font-weight:bold;"></span></strong></div>
                    </div>
                    <div class="col-4 p-2" style="font-size:15px">
                        <div class="text-center fw-bold "><u>Stok:</u></div>
                        <div><span style="font-size:13px;font-weight:bold;" id="Item_Detail_Stok_nya">Silakan Pilih Varian!</span></div>
                    </div>
                    <div class="col-4">
                        <div class="row d-flex justify-content-between">
                            <div class="col-12 text-center fw-bold " style="font-size:15px"><u>Beli:</u></div>
                            <div class="col-12"><input style="font-size:20px;font-weight:bold;border:1px solid red;text-align:center" id="jumlah_beli" type="number" value=1 min=1 class="form-control border-outline-info"></input></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center container-fluid">
                    <div class="col-3">
                        <button class="btn btn-danger text-white fw-bold" style="font-size:12px"><i class="fa fa-youtube-play"></i> YouTube </button>  
                    </div>
                    <div class="col-9 d-flex justify-content-end">
                        {% if user.is_authenticated %}
                        <button type="button" class="btn btn-secondary mx-1" style="font-size:15px !important;padding-top:0px !important" data-bs-dismiss="modal" ><span class="fa fa-user-circle "></span> Chat</button>
                        <button type="button" class="btn btn-success mx-1" style="font-size:15px !important;padding-top:0px !important" data-bs-dismiss="modal" onclick="addCart('keranjang')"><span class="fa fa-shopping-cart " ></span> Keranjang</button>
                        <button type="button" class="btn btn-primary mx-1" style="font-size:15px !important;padding-top:0px !important" data-bs-dismiss="modal" onclick="beli_sekarang_from_detail()"><span class="fa fa-money "  ></span> Beli</button>
                        {% else%}
                        <i><strong>Silakan Login dulu yah...</strong></i>
                        {% endif%}
                    </div>
                </div>
            </div>
            
          </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalkategori">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center h3">KATEGORI</div>
                <div class=" box-bingkai-kategori" id="the_kategori">

                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalLupaPassword">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title fw-bold text-white"><i class="fa fa-lock"></i> Lupa Password</h5>
                <button type="button" class="btn-close border border-primary bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center align-items-center my-1">
                    <div class="col-5">Email Didaftarkan:</div>
                    <div class="col-7"><input type="text" id="email_lupa" placeholder="isi dengan email yang kamu!" class="form-control"></div>
                </div>
                
                <div class="d-flex justify-content-center align-items-center my-2">
                    <button class="btn btn-primary"  onclick="request_username_password()">Kirim Permintaan</button>
                </div>

            </div>
          </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalLogin">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title fw-bold text-white"><i class="fa fa-user-circle"></i> LOGIN</h5>
                <button type="button" class="btn-close border border-primary bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center align-items-center my-1">
                    <div class="col-5">User Name:</div>
                    <div class="col-7"><input type="text" id="login_username" class="form-control"></div>
                </div>
                <div class="d-flex justify-content-center align-items-center my-1">
                    <div class="col-5">Password:</div>
                    <div class="col-7"><input type="password" id="login_password" class="form-control"></div>
                </div>
                <div class="d-flex justify-content-center align-items-center my-2">
                    <button class="btn btn-primary" id="login_button" onclick="login_kan()">login</button>
                </div>
                <div style="font-size:12px" class="d-flex justify-content-center align-items-center">
                    Lupa Password/ Username? silakan <a href="#" class="mx-2" onclick="show_lupa_password()">klik</a> di sini!
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalGantiPassword">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title fw-bold text-white"><i class="fa fa-key"></i> GANTI PASSWORD</h5>
                <button type="button" class="btn-close border border-primary bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center align-items-center my-1">
                    <div class="col-5">User Name:</div>
                    <div class="col-7 h5 fw-bold">{{ user.username }}</div>
                </div>
                <div class="d-flex justify-content-center align-items-center my-1">
                    <div class="col-5">Password Lama:</div>
                    <div class="col-7"><input type="password" id="ganti_password_lama" placeholder="password lama" class="form-control"></div>
                </div>
                <div class="d-flex justify-content-center align-items-center my-1">
                    <div class="col-5">Password Baru:</div>
                    <div class="col-7"><input type="password" id="ganti_password_baru1" placeholder="password baru (6 karakter)" class="form-control"></div>
                </div>
                <div class="d-flex justify-content-center align-items-center my-1">
                    <div class="col-5">Konfirmasi :</div>
                    <div class="col-7"><input type="password" id="ganti_password_baru2" placeholder="konfirm password baru" class="form-control"></div>
                </div>
                <div class="d-flex justify-content-center align-items-center my-3">
                    <button class="btn btn-primary" id="gantipassword_button" onclick="gantipassword()">Ganti Password</button>
                </div>

            </div>
          </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalGratisOngkir">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-info text-white fw-bold">
                <h5 class="modal-title">Klaim Gratis Ongkirmu!</h5>
                <button type="button" class="btn-close bg-white border border-info" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="voucher_gratis_ongkir" class="overflow-auto" style="height:400px">
                
                </div>
            </div>
          </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" id="modalpromo">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title fw-bold">Promo Bulan Ini!</h5>
                <button type="button" class="btn-close bg-white border border-warning" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'img/17-1.jpeg'%}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'img/17-2.jpeg'%}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'img/17-3.jpeg'%}" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalInformasi_Notif">
        <div class="modal-dialog">
          <div class="modal-content border border-success">
            <div class="modal-header bg-info">
              <h5 class="modal-title w-100 py-1 px-2  text-white fw-bold"><i class="fa fa-info-circle"></i> Informasi</h5>
              <button type="button" class="btn-close border border-info bg-white " style="padding:10px;border-radius:0px" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="Informasinya_Notif"></p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
    </div>
    
    <div class="container-fluid fixed-top bg-white shadow" id="the_header"  style="border-bottom-left-radius:10px;border-bottom-right-radius:10px;height:150px;width:1120px">
        <div class="p-2 border border-danger rounded m-2">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3 jagoan  d-flex align-items-center" title="jagoanhelm.com">
                    <div class="rounded-pill shadow"><img src="{% static 'img/jagoanhelm.png'%}" style="height:50px;weight:60px" alt=""></div>
                    <h3 class="text-danger fw-bold my-1 mx-2"> jagoanhelm.com</h3>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-8 col-xl-9 col-xxl-9">
                    <div class="d-flex justify-content-end">
                    <!--<div class="d-none d-sm-none d-md-none d-lg-flex d-xl-flex d-xxl-flex justify-content-evenly">-->
                        {% if user.is_authenticated %}
                        <div>
                            <div class="garis" onmouseover="show_shoppingcart()"><i class="fa fa-cart-arrow-down mx-2"></i>Keranjangku <span class="badge bg-danger" id="jumlah_cart"></span></div>                        
                            <div class="shoppingcart-box" onmouseleave="hide_shoppingcart()" id="detail_cart">
                                
                            </div>
                        </div>
                        {% else %}
                        <div class="mx-3 py-3"><i class="fa fa-cart-arrow-down mx-2"></i>Keranjangku </div>                        
                        {% endif %}

                        {% if user.is_authenticated %}
                        <div>
                            <div class="garis" onmouseover="show_wishlist()"><i class="fa fa-heartbeat"></i> Wishlist <span class="badge bg-danger" id="jumlah_wishlist"></span></div>
                            <div class="wishlist-box" onmouseleave="hide_wishlist()" id="wishlist_menu">
 
                            </div>
                        </div>
                        {% else %}
                        <div class="mx-3  py-3"><i class="fa fa-heartbeat"></i> Wishlist</div>
                        {% endif %}
                        
                        {% if user.is_authenticated %}
                        <div>
                            <div class="garis" onmouseover="show_notification()"><i class="fa fa-bell-o"></i> Notifikasi </div>
                            <div class="notification-box" onmouseleave="hide_notification()">
                                <div class="d-flex justify-content-between my-2  w-100" style="border-bottom:1px solid grey;">
                                    <div class="bg-success p-2 text-white rounded-top" onclick="update_notif_bayar()">Belanjaku <span class='badge bg-danger' id="jumlah_notif"></span></div>
                                    <div class="bg-info p-2 text-white rounded-top" onclick="notif_voucher_ongkir()">Voucherku <span class='badge bg-danger' id="jumlah_notif_voucher"></span></div>
                                    <div class="bg-secondary p-2 text-white rounded-top">Tracking</div>
                                </div>
                                <div  id="my_notif" class="h-75 overflow-auto"></div>
                            </div>
                        </div>
                        {% else %}
                        <div class="mx-3  py-3"><i class="fa fa-bell-o"></i> Notifikasi </div>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <div >
                            <div class=" garis" onmouseover="show_category()" ><i class="fa fa-users"></i> Diskusiku</div>
                            <div class="category-box " onmouseleave="hide_category()">
                                hallo
                            </div>
                        </div>
                        {% else%}
                        <div class="mx-3  py-3"><i class="fa fa-users"></i> Diskusiku</div>
                        {% endif%}

                        
                        <div >
                            <div class="garis" onmouseover="show_promo_menu()"><i class="fa fa-handshake-o"></i> PROMO </div>
                            {% if user.is_authenticated%}
                            <div class="promo-box" onmouseleave="hide_promo_menu()">
                            {% else %}
                            <div class="promo-box" onmouseleave="hide_promo_menu()" style="height:160px;min-height:160px;max-height:160px">
                            {% endif %}
                                {% if user.is_authenticated%}
                                <div class="d-block w-100  my-3 border border-info p-2">
                                    <div class="d-flex row justify-content-center">
                                        <div class="col-2 text-center bg-info p-2"><i class="fa fa-paper-plane-o bg-info " style="font-size:30px;color:white;font-weight:bold" aria-hidden="true"></i></div>
                                        <div class="col-10 bg-info">
                                            <div style="font-size:15px;color:white;text-align:center;padding-top:10px;font-weight:bold;">VOUCHER GRATIS ONGKIR</div>
                                        </div>
                                    </div>
                                    <div class="text-center my-1" ><button class="btn" onclick="klik_gratis_ongkir()">Klik untuk Klaim Sekarang!</button></div>
                                </div>
                                {% endif %}
                                <!--
                                <div class="d-block w-100  my-3 border border-danger p-2" >
                                    <div class="d-flex row justify-content-center">
                                        <div class="col-2 text-center bg-danger p-2"><i class="fa fa-money bg-danger " style="font-size:30px;color:white;font-weight:bold" aria-hidden="true"></i></div>
                                        <div class="col-10 bg-danger">
                                            <div style="font-size:15px;color:white;text-align:center;padding-top:10px;font-weight:bold;">VOUCHER DISCOUNT %</div>
                                        </div>
                                    </div>
                                    <div class="text-center my-1" ><button class="btn" >Klik untuk Klaim Sekarang!</button></div>
                                </div>
                                -->
                                <div class="d-block w-100 my-3 border border-warning p-2">
                                    <div class="d-flex row justify-content-center">
                                        <div class="col-2 text-center bg-warning p-2"><i class="fa fa-thumbs-o-up bg-warning " style="font-size:30px;color:white;font-weight:bold" aria-hidden="true"></i></div>
                                        <div class="col-10 bg-warning">
                                            <div style="font-size:15px;color:white;text-align:center;padding-top:10px;font-weight:bold;">PROMO BULAN INI!</div>
                                        </div>
                                    </div>
                                    <div class="text-center my-1" ><button class="btn" onclick="show_promo()">Klik untuk Melihat Detail Promo!</button></div>
                                </div>
                            </div>
                        </div>
                        
                        {% if user.is_authenticated%}
                        <div  >
                            <div class="garis" onmouseover="show_account()"><i class="fa fa-user-circle"></i> Account</div>
                            <div class="account-box" onmouseleave="hide_account()" style="height:190px !important;min-height:190px !important;max-height:190px !important">
                                <div class="my-1 p-1 rounded bg-danger text-white text-center w-100" style="font-size:12px;">hallo, <strong>{{user.username}}</strong>!</div>
                                <div class="w-100 py-2 text-center" style="border-bottom:1px solid grey" onclick="profilku_form()"><i class="fa fa-user-circle"></i> Profil-ku</div>
                                <div class="w-100 py-2 text-center" style="border-bottom:1px solid grey" onclick="gantipassword_form()"><i class="fa fa-key"></i> Ganti Password</div>
                                <div class="w-100 py-2 text-center" style="border-bottom:1px solid grey" onclick="logout_form()"><i class="fa fa-user-circle-o"></i> Logout</div>
                            </div>
                        </div>
                        {% else %}
                        <div>
                            <div class="garis" onmouseover="show_account()"><i class="fa fa-user-circle"></i> Account</div>
                            <div class="account-box" onmouseleave="hide_account()">
                                <div class="w-100 py-2 text-center" style="border-bottom:1px solid grey" onclick="login_form()"><i class="fa fa-user-circle-o"></i> Login</div>
                                <div class="w-100 py-2 text-center" style="border-bottom:1px solid grey" onclick="showRegisterForm()"><i class="fa fa-user"></i> Daftar User Baru</div>
                            </div>
                        </div>
                        {% endif%}
                    </div>
                    <!--
                    <div class="d-flex d-sm-flex d-md-flex d-lg-none d-xl-none d-xxl-none justify-content-end">
                        <button type="button" class="btn btn-default btn-lg">
                            <i class="fa fa-navicon my-1 text-danger fw-bold"></i>
                        </button>
                    </div>
                    -->
                </div>
            </div>
        </div>
        
        <div class="row px-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div class="row ">
                    <div class="col-6">
                        <i class="fa fa-search search-icon"></i><input type="text" id="search" placeholder="search..."  onkeyup="searchkeyword()" onclick="tampilsearch()" onchange="searchkeyword()" onfocusin="tampilsearch()">
                        <div class="search-box" onmouseleave="hide_search()">
                            <div>Pencarian: "<span id="keyword" class="fw-bold"></span>"
                                <div class="spinner-border text-secondary" style="width:10px;height:10px" role="status">
                                    <span class="visually-hidden" >Loading...</span>
                                </div>
                                <div id="hasil_pencarian" class="overflow-y-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-evenly" id="usual_search">
                    </div>
                </div>
            </div>
            <div class="col-4 d-none d-sm-none d-md-none d-lg-flex d-xl-flex d-xxl-flex">
                <div class="text-center w-100" id="info">jagoanhelm.com pusatnya helm!</div>
            </div>
        </div>
        <div class="my-2"></div>
    </div>

    <div class="container" onscroll="myFunction()" style="margin-bottom:50px;margin-left:70px;margin-top:190px;">
        {% block contents%}{% endblock%}
    </div>
    <div class="container" style="margin-bottom:50px">
        <div class="d-flex row justify-content-center">
            <div class="col-4 p-2" style="border-right:1px solid grey;">
                <strong>Our Store:</strong><br>
                Ruko Arcadia Blok BD No. 120<br>
                Jl. Pulo Sirih Utama, RT.004/RW.015<br>
                Jaka Setia, Bekasi Selatan, Kota Bekasi<br>
                Jawa Barat 17148<br><br>
                
                <iframe class="w-100" style="height:200px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0085656979195!2d106.97028017380322!3d-6.262600993725997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698db00b8eacf9%3A0x7ee3fad755f1e152!2sJagoan%20Helm!5e0!3m2!1sid!2sid!4v1693393950234!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-8 ">
                <iframe width="560" class="rounded border" height="315" src="https://www.youtube.com/embed/11VXUfYR4oo?si=mA1DqPtvKSBNBPCm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    
    </div>
    <div class="fixed-bottom container-fluid">
        <div class="row">
            <div class="d-flex col-10 justify-content-end ">
            
            </div>
            <div class="py-3 col-2 my-3">
                <div class="text-white text-center fw-bold bg-success rounded-pill py-2 my-2 wa-admin" style="cursor:pointer;width:200px">
                    <i class="fa fa-whatsapp mx-1 " aria-hidden="true"></i>Chat Admin#1
                </div>
                <div class="text-white text-center fw-bold bg-success rounded-pill py-2 my-2 wa-admin"  style="cursor:pointer;width:200px">
                    <i class="fa fa-whatsapp mx-1 " aria-hidden="true"></i>Chat Admin#2
                </div>
            </div>
        </div>

    </div>
    <div class="footer container fixed-bottom w-50 " id="the_footer">
        <div class="d-flex justify-content-center">
            <div class="rounded-pill shadow"><img src="{% static 'img/jagoanhelm.png'%}" style="height:50px;weight:60px" alt=""></div>
            <h3 class="text-danger fw-bold my-1 mx-2"> jagoanhelm.com</h3>
        </div>
    </div>
    
    <script>
        let csrfmiddlewaretokennya = $("input[name=csrfmiddlewaretoken]").val();
        let last_position=0;
        let kategori="semua";

        let kategori_budget="";
        let kategori_premium="";
        let kategori_diskon="";
        let merek_budget="";
        let merek_premium="";
        let merek_diskon="";
        let harga_budget="";
        let harga_premium="";

        let halaman_budget=1;
        let halaman_premium =1;
        let halaman_diskon=1;
        let max_halaman_budget=1;
        let max_halaman_premium=1;
        let max_halaman_diskon=1;

        let stok_warna =0;
        let stok_visor =0;

        let daftar_id_cart=[];

        let status_beli=1;

        function set_kategori_page(kategori) {
            window.location.href = "/?cat=" + kategori;
        }

        $(document).ready(function() {
            let infonya =[];
            let i=0;
            infonya.push("Segera Klaim Voucher Gratis Ongkirmu!");
            infonya.push("Happy Birthday ya! Ada yang spesial untukmu hari ini!");
            infonya.push("Ada aksesoris baru loh... segera chek ya kaka...");
            setInterval(function() {
                $("#info").text(infonya[i]);
                i++;
                if(i>3) {
                    i=0;
                }
            },5000);
            /*searchkeyword();*/
            freq_search();
            tampilkan_barang_budget();
            tampilkan_barang_premium();
            tampilkan_barang_disc();
            updateCart();
            initWishList();
            update_notif_bayar();
            jumlah_notif_voucher_ongkir();
            $.cookie('nama','suryo');
            //alert($.cookie('nama'));
        });

        function cek_scroll() {
            if($(window).scrollTop()>last_position) {
                $("#the_header").hide();
                $("#the_footer").slideDown("fast");
            } else {
                $("#the_header").slideDown("fast");
                $("#the_footer").hide();
            }
            last_position=$(window).scrollTop();
        }
        

        function tampilsearch() {
            $(".search-box").slideDown("fast");
        }

        function hide_search() {
            $(".search-box").hide();
            
        }

        function isi_seringdicari() {
            $.ajax({
                type: "POST",
                url: 'api/get/barang/cari5/',
                data: {
                    'csrfmiddlewaretoken': csrfmiddlewaretokennya
                },
                success: function(data) {
                    $("#box_sering_dicari_5").empty();
                    data.result.forEach(function(mydata){
                        let template="";
                        let badgenya = "";
                        if(mydata.barang_new==true) {
                            badgenya = badgenya + "<span style='font-size:12px' class='badge bg-danger'>NEW!</span>";
                        }
                        if(mydata.barang_ongkir_aktif==true) {
                            badgenya = badgenya + "<span style='font-size:12px;' class='badge bg-success'>Gratis Ongkir</span>";
                        }
                        discountnya = parseInt((mydata.barang_disc/mydata.barang_harga)*100);
                        if(mydata.barang_disc_aktif===false) {
                            discountnya=0;
                        }
                        if(discountnya==0 ) {
                            template = "<div id='item_c1_" + mydata.barang_sku+"'><div class='box-sering-dicari'><img class='w-100 rounded' src='"+ mydata.barang_foto1+"'</div>"+
                            "<div style='font-size:10px;font-weight:bold'>"+ mydata.barang_nama.substring(0,40).toUpperCase() +"</div>"+
                            "<div style='font-size:12px;font-weight:bold;color:green'>Harga: "+ ubahKeUang(mydata.barang_harga)+"</div>"+ 
                            "<div style='font-size:12px;color:blue'>Merk: <strong>"+ mydata.barang_merek.merek_nama.toUpperCase()+"</strong></div>" +
                            "<div class='d-flex justify-content-between'>"+badgenya+"</div></div>";
                        } else {
                            let nettprice = mydata.barang_harga - mydata.barang_disc;
                            template = "<div id='item_c2_" + mydata.barang_sku+"'><div class='box-sering-dicari'><img class='w-100 rounded' src='"+ mydata.barang_foto1+"'</div>"+
                            "<div style='font-size:10px;font-weight:bold'>"+ mydata.barang_nama.substring(0,40).toUpperCase() +"</div>"+
                            "<div style='font-size:12px;font-weight:bold;color:red'>Harga: <s>"+ ubahKeUang(mydata.barang_harga)+"</s></div>"+ 
                            "<div><span class='badge bg-warning fw-bold' style='font-size:12px'>Discount " + discountnya +"%</span></div>" +
                            "<div style='font-size:14px;font-weight:bold;color:green'>"+ ubahKeUang(nettprice)+"</div>"+ 
                            "<div style='font-size:12px;color:blue'>Merk: <strong>"+ mydata.barang_merek.merek_nama.toUpperCase()+"</strong></div>"+ 
                            "<div class='d-flex justify-content-between'>"+badgenya+"</div></div>";
                        }
                        $("#box_sering_dicari_5").append(template);
                        if(discountnya==0) {
                            $("#item_c1_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                            });
                        } else {
                            $("#item_c2_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                            });
                        }
                    })
                }
            });
        }

        function freq_search() {
            $("#keyword").text($("#search").val());

            /* set frequently keyword */
            $.ajax({
                type: "POST",
                url: '/api/set/search/',
                data: {
                    'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                    'keyword':$("#search").val(),
                    'kategori':kategori,
                },
                success: function(data) {
                    $("#usual_search").empty();
                    data.keyword.forEach(function(info) {
                        htmlnya = "<a href='#' id='keyword_"+ info.keyword +"' class='search-frequent'>"+ info.keyword+"</a>";
                        $("#usual_search").append(htmlnya);
                        $("#keyword_" + info.keyword).click(function() {
                            $("#search").val(info.keyword);
                            tampilsearch();
                            searchkeyword();
                        });
                    });
                }
            });
        }

        function set_kategori() {
            $("#kat_premium").text(kategori.toUpperCase());
            $("#kat_gajian").text(kategori.toUpperCase());
            $("#kat_budget").text(kategori.toUpperCase());
        }

        function searchkeyword() {

            freq_search();
            /* tampilkan hasil*/
            //$("#hasil_pencarian").empty();
            if($("#keyword").text().trim().length>0) {
                $.ajax({
                    type: "POST",
                    url: '/api/get/search/',
                    data : {
                        'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                        'keyword':  $("#keyword").text(),
                        'kategori': kategori
                    },
                    success : function (data) {
                        $("#hasil_pencarian").empty();
                        data.result.forEach(function (mydata){
                            tampilan = "<div id='cari_" + mydata.barang_sku +"' class='search-box-hasil d-flex justify-content-start align-items-center'>" +
                                "<img src='" + mydata.barang_foto1+"' style='margin-right:10px;width:50px;height:50px;border-radius:25px;margin-bottom:5px'>" +
                                "<div style='font-size:12px;font-weight:bold;'>" + mydata.barang_nama.toUpperCase() +"</div></div>";
                            $("#hasil_pencarian").append(tampilan);
                            $("#cari_" + mydata.barang_sku).click(function() {
                                item_detail(mydata.barang_sku);
                                $.ajax({
                                    type: "POST",
                                    url: '/api/get/search/hasil/',
                                    data: {
                                        'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                                        'kode_sku':  mydata.barang_sku
                                    },
                                    success: function(data) {
                                        isi_seringdicari();
                                        
                                    }
                                });
                            });
                        });
    
    
                    }
                });
            }

        }

        function show_category() {
            $(".category-box").empty();
            let hasil = "<div title='Tampilkan Semua Barang' class='box-isi-kategori' id='kat_com_semua'><img src='/static/img/all.jpeg' class='w-100 rounded' style='width:150px;height:150px'><div class='position-absolute d-flex justify-content-center  p-1 bg-secondary rounded fw-bold text-white' style='width:170px'>Semua Kategori</div></div>";
            $(".category-box").append(hasil);
            $("#kat_com_semua").click(function() {
                kategori="semua";
            });
            $.ajax({
                type: "POST",
                url: "/api/get/kategori/",
                data: {
                    'csrfmiddlewaretoken':csrfmiddlewaretokennya
                },
                success: function(data) {
                    data.forEach(function(mydata) {
                        hasil = "<div title='"+ mydata.barang_kategori +"'' class='box-isi-kategori' id='kat_comp_" + mydata.barang_kategori +"'><img src='" + mydata.barang_kategori_gambar +"' class='w-100 rounded' style='width:150px;height:150px'><div class='position-absolute d-flex justify-content-center  p-1 bg-secondary rounded fw-bold text-white' style='width:170px'>" + mydata.barang_kategori+"</div></div>";
                        $(".category-box").append(hasil);
                        $("#kat_comp_" + mydata.barang_kategori).click(function() {
                            kategori=mydata.barang_kategori;
                            set_kategori();
                        });
                    });
                }
            });
            $(".category-box").slideDown("fast");
            $(".shoppingcart-box").hide();
            $(".wishlist-box").hide();
            $(".notification-box").hide();
            $(".account-box").hide();
            $(".promo-box").hide();
        }

        function show_shoppingcart() {
            $(".shoppingcart-box").slideDown("fast");
            $(".wishlist-box").hide();
            $(".notification-box").hide();
            $(".account-box").hide();
            $(".category-box").hide();
            $(".promo-box").hide();
        }

        function show_promo_menu() {
            $(".account-box").hide();
            $(".category-box").hide();
            $(".shoppingcart-box").hide();
            $(".wishlist-box").hide();
            $(".notification-box").hide();
            $(".promo-box").slideDown("fast");
        }

        function hide_shoppingcart() {
            $(".shoppingcart-box").hide();
        }

        function hide_promo_menu() {
            $(".promo-box").hide();
        }

        function hide_category() {
            $(".category-box").hide();
        }

        function show_wishlist() {
            $(".wishlist-box").slideDown("fast");
            $(".category-box").hide();
            $(".shoppingcart-box").hide();
            $(".notification-box").hide();
            $(".account-box").hide();
            $(".promo-box").hide();
        }

        function hide_wishlist() {
            $(".wishlist-box").hide();
        }

        function show_notification() {
            $(".notification-box").slideDown("fast");
            $(".category-box").hide();
            $(".shoppingcart-box").hide();
            $(".wishlist-box").hide();
            $(".account-box").hide();
            $(".promo-box").hide();
        }

        function hide_notification() {
            $(".notification-box").hide();
        }

    

        function show_account() {
            $(".account-box").slideDown("fast");
            $(".category-box").hide();
            $(".shoppingcart-box").hide();
            $(".wishlist-box").hide();
            $(".notification-box").hide();
            $(".promo-box").hide();
        }

        function hide_account() {
            $(".account-box").hide();
        }

        
        function show_promo() {
            $("#modalpromo").modal("show");
        }

        function modal_kategori_show() {
            $("#the_kategori").empty();
            let hasil = "<div title='Tampilkan Semua Barang' class='box-isi-kategori' id='kat_semua'><img src='/static/img/all.jpeg' class='w-100 rounded' style='width:150px;height:150px'><div class='position-absolute d-flex justify-content-center  p-1 bg-secondary rounded fw-bold text-white' style='width:170px'>Semua Kategori</div></div>";
            $("#the_kategori").append(hasil);
            $("#kat_semua").click(function() {
                set_kategori_page('');
            });
            $.ajax({
                type: "POST",
                url: "/api/get/kategori/",
                data: {
                    'csrfmiddlewaretoken':csrfmiddlewaretokennya
                },
                success: function(data) {
                    data.forEach(function(mydata) {
                        hasil = "<div title='"+ mydata.barang_kategori +"'' class='box-isi-kategori' id='kat_" + mydata.barang_kategori +"'><img src='" + mydata.barang_kategori_gambar +"' class='w-100 rounded' style='width:150px;height:150px'><div class='position-absolute d-flex justify-content-center  p-1 bg-secondary rounded fw-bold text-white' style='width:170px'>" + mydata.barang_kategori+"</div></div>";
                        $("#the_kategori").append(hasil);
                        $("#kat_" + mydata.barang_kategori).click(function() {
                            set_kategori_page(mydata.barang_kategori);
                        });
                    });
                }
            });
            $("#modalkategori").modal("show");
        }

        

    </script>
</body>

</html>