{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="{% static 'js/jquery.3.6.4.js'%}"></script>
    <script src="{% static 'js/bootstrap5.bundle.min.js'%}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop #2</title>
    <link rel="stylesheet" href="{% static 'css/margin.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap5.min.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onscroll="cek_scroll()">
    {% csrf_token %}
    <div class="container fixed-top bg-white" id="the_header"  style="height:150px;border:2px solid white">
        <div class="p-2 border-bottom border-danger m-2">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-3 jagoan  d-flex align-items-center" title="jagoanhelm.com">
                    <div class="rounded-pill shadow"><img src="{% static 'img/jagoanhelm.png'%}" style="height:50px;weight:60px" alt=""></div>
                    <h3 class="text-danger fw-bold my-1 mx-2"> jagoanhelm.com</h3>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-8 col-xl-9 col-xxl-9">
                    <div class="d-none d-sm-none d-md-none d-lg-flex d-xl-flex d-xxl-flex justify-content-evenly">
                        <div class="my-3">
                            <div class=" garis" onclick="show_category()" ><i class="fa fa-filter mx-2"></i>Category</div>
                            <div class="category-box" onmouseleave="hide_category()">
                                <div><strong>Helm</strong></div>
                                <div>{% lorem 1 %}</div>
                                <div><strong>Perlengkapan</strong></div>
                                <div>{% lorem 1 %}</div>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="garis" onclick="show_shoppingcart()"><i class="fa fa-cart-arrow-down mx-2"></i>Shopping Cart</div>                        
                            <div class="shoppingcart-box" onmouseleave="hide_shoppingcart()">
                                <div><strong>ITEM Shopping Chart1</strong></div>
                                <div>{% lorem 1 %}</div>
                                <div><strong>ITEM Shopping Chart2</strong></div>
                                <div>{% lorem 1 %}</div>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="garis" onclick="show_wishlist()"><i class="fa fa-heartbeat mx-2"></i>Wishlist</div>
                            <div class="wishlist-box" onmouseleave="hide_wishlist()">
                                <div><strong>ITEM Wishlist1</strong></div>
                                <div>{% lorem 1 %}</div>
                                <div><strong>ITEM Wishlist2</strong></div>
                                <div>{% lorem 1 %}</div>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="garis" onclick="show_notification()"><i class="fa fa-bell-o mx-2"></i>Notification</div>
                            <div class="notification-box" onmouseleave="hide_notification()">
                                <div><strong>My Notification1</strong></div>
                                <div>{% lorem 1 %}</div>
                                <div><strong>My Notification2</strong></div>
                                <div>{% lorem 1 %}</div>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="garis" onclick="show_account()"><i class="fa fa-user-circle mx-2"></i>Account</div>
                            <div class="account-box" onmouseleave="hide_account()">
                                <div><strong>My Account Info1</strong></div>
                                <div>{% lorem 1 %}</div>
                                <div><strong>My Account Info2</strong></div>
                                <div>{% lorem 1 %}</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex d-sm-flex d-md-flex d-lg-none d-xl-none d-xxl-none justify-content-end">
                        <button type="button" class="btn btn-default btn-lg">
                            <i class="fa fa-navicon my-1 text-danger fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                <div class="row ">
                    <div class="col-6">
                        <i class="fa fa-search search-icon"></i><input type="text" id="search" placeholder="search..." autocomplete="on" onkeyup="searchkeyword()" onmouseover="tampilsearch()" onchange="searchkeyword()" onfocusin="tampilsearch()">
                        <div class="search-box" onmouseleave="hide_search()">
                            <div>Pencarian: "<span id="keyword" class="fw-bold"></span>"
                                <div class="spinner-border text-secondary" style="width:10px;height:10px" role="status">
                                    <span class="visually-hidden" >Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-evenly" id="usual_search">
                    </div>
                </div>
            </div>
            <div class="col-4 d-none d-sm-none d-md-none d-lg-flex d-xl-flex d-xxl-flex">
                <div class="text-center w-100" id="info">jagoanhelm.com pusatnya helm!</div>
            </div>
        </div>
        <hr class="text-white">
    </div>
    <div class="container" onscroll="myFunction()" style="margin-bottom:50px;margin-top:150px;">
        {% block contents%}{% endblock%}
        {% lorem 20 %}{% lorem 20 %}{% lorem 20 %}
    </div>
    <div class="container" style="margin-bottom:50px">
        <div class="d-flex row justify-content-center">
            <div class="col-4 p-2" style="border-right:1px solid grey;">
                <strong>Our Store:</strong><br>
                Ruko Arcadia Blok BD No. 120<br>
                Jl. Pulo Sirih Utama, RT.004/RW.015<br>
                Jaka Setia, Bekasi Selatan, Kota Bekasi<br>
                Jawa Barat 17148<br><br>
                <iframe class="w-100" style="height:200px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0085656979195!2d106.97028017380322!3d-6.262600993725997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e698db00b8eacf9%3A0x7ee3fad755f1e152!2sJagoan%20Helm!5e0!3m2!1sid!2sid!4v1693393950234!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-8">
    
            </div>
        </div>
    
    </div>
    <div class="footer container fixed-bottom w-50 " id="the_footer">
        <div class="d-flex justify-content-center">
            <div class="rounded-pill shadow"><img src="{% static 'img/jagoanhelm.png'%}" style="height:50px;weight:60px" alt=""></div>
            <h3 class="text-danger fw-bold my-1 mx-2"> jagoanhelm.com</h3>
        </div>
        
    </div>
    <script>
        let csrfmiddlewaretokennya = $("input[name=csrfmiddlewaretoken]").val();
        let last_position=0;
        $(document).ready(function() {
            let infonya =[];
            let i=0;
            infonya.push("Segera Klaim Voucher Gratis Ongkirmu!");
            infonya.push("Happy Birthday ya! Ada yang spesial untukmu hari ini!");
            infonya.push("Ada aksesoris baru loh... segera chek ya kaka...");
            setInterval(function() {
                $("#info").text(infonya[i]);
                i++;
                if(i>3) {
                    i=0;
                }
            },5000);
            searchkeyword();
           
        });

        function cek_scroll() {
            if($(window).scrollTop()>last_position) {
                $("#the_header").slideUp("fast");
                $("#the_footer").slideDown("fast");
            } else {
                $("#the_header").slideDown("fast");
                $("#the_footer").slideUp("fast");
            }
            last_position=$(window).scrollTop();
        }
        

        function tampilsearch() {
            $(".search-box").slideDown("slow");
        }

        function hide_search() {
            $(".search-box").slideUp("slow");
            
        }

        function searchkeyword() {
            $("#keyword").text($("#search").val());

            $.ajax({
                type: "POST",
                url: '/api/set/search/',
                data: {
                    'csrfmiddlewaretoken':csrfmiddlewaretokennya,
                    'keyword':$("#search").val(),
                },
                success: function(data) {
                    $("#usual_search").empty();
                    data.keyword.forEach(function(info) {
                        htmlnya = "<a href='#' id='keyword_"+ info.keyword +"' class='search-frequent'>"+ info.keyword+"</a>";
                        $("#usual_search").append(htmlnya);
                        $("#keyword_" + info.keyword).click(function() {
                            $("#search").val(info.keyword);
                            tampilsearch();
                            searchkeyword();
                        });
                    });
                }
            });
        }

        function show_category() {
            $(".category-box").slideToggle("slow");
            $(".shoppingcart-box").slideUp();
            $(".wishlist-box").slideUp();
            $(".notification-box").slideUp();
            $(".account-box").slideUp();
        }

        function show_shoppingcart() {
            $(".shoppingcart-box").slideToggle("slow");
            $(".wishlist-box").slideUp();
            $(".notification-box").slideUp();
            $(".account-box").slideUp();
            $(".category-box").slideUp();
        }

        function hide_shoppingcart() {
            $(".shoppingcart-box").slideUp("slow");
        }

        function hide_category() {
            $(".category-box").slideUp("slow");
        }

        function show_wishlist() {
            $(".wishlist-box").slideToggle("slow");
            $(".category-box").slideUp();
            $(".shoppingcart-box").slideUp();
            $(".notification-box").slideUp();
            $(".account-box").slideUp();
        }

        function hide_wishlist() {
            $(".wishlist-box").slideUp("slow");
        }

        function show_notification() {
            $(".notification-box").slideToggle("slow");
            $(".category-box").slideUp();
            $(".shoppingcart-box").slideUp();
            $(".wishlist-box").slideUp();
            $(".account-box").slideUp();
        }

        function hide_notification() {
            $(".notification-box").slideUp("slow");
        }

    

        function show_account() {
            $(".account-box").slideToggle("slow");
            $(".category-box").slideUp();
            $(".shoppingcart-box").slideUp();
            $(".wishlist-box").slideUp();
            $(".notification-box").slideUp();
        }

        function hide_account() {
            $(".account-box").slideUp("slow");
        }
    </script>
</body>

</html>